@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  outline: 1px solid red;
}

:root {
  --watermelon-pink: #e37383;
  --dark-watermelon-pink: #dd5569;
  --hot-pink: #ff69b4;
  --light-pink: #f8c8dc;
  --vlight-pink: #f8e2eb;
  --royal-blue: #375ec1;
  --text-color: #1a202c;
  --text-light-color: #555;
}

#root {
  width: 100vw; /* vw is a rel unit representing a percentage of the width of the viewport or the visible area of the web browser */
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* tell browser to account for any border/padding in the heights/widths */
* {
  box-sizing: border-box;
}

/* Hyperlinks */
a {
  text-decoration: none;
  cursor: pointer;
}

.interface {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  max-width: 1200px; /* Avoid too large of a section on large screens */
  width: 100%;
  align-items: center;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--top {
  align-items: flex-start;
}

.section--bottom {
  align-items: flex-end;
}

.section--right {
  justify-content: flex-end;
  align-items: flex-start;
  border: 3px solid green;
  max-height: 100%;
}

.section--left {
  justify-content: flex-start;
}

.section--middle {
  justify-content: flex-start;
} /* https://www.w3schools.com/css/css3_flexbox_container.asp */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* HOME SECTION */

/* TODO: DELETE THIS ELEMENT, JUST USEFUL FOR DEBUGGING FOR NOW BUT NOT NEEDED AS WRAPPER FR */
.element-container {
  /*background-color: red;*/
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down {
  width: 28px;
  height: 42px;
  border: 2px solid var(--watermelon-pink);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.scroll-down__wheel {
  background: var(--watermelon-pink);
  width: 3px;
  height: 10px;
  border-radius: 2px;
  margin-top: 4px;
}

/* SKILLS SECTION */

.skills_div {
  padding: 1rem;
  margin-right: 9%;
  outline: 3px solid purple;
  max-width: 40%; /* should only be if not mobile */
  max-height: 83%;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain; /* do we like this? */
  border-radius: 4px;
}

.skills_div::-webkit-scrollbar-thumb {
  background-color: var(--watermelon-pink);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.skills_div::-webkit-scrollbar {
  width: 16px;
}

.skill {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 320px;
  max-width: 100%;
}

.skill_label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.skill_label_image {
  height: 32px;
  width: 32px;
}

.skill_label_name {
  color: var(--text-color);
  font-size: 0.95rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.skill_level {
  background: black;
  height: 8px;
  border-radius: 8px;
  width: 100%;
}

.skill_label_details {
  font-size: 0.73rem;
}

.skill_level_bar {
  background: var(--watermelon-pink);
  height: 100%;
  border-radius: 8px;
  width: 0px; /* Width is 0px by default because we animate it over time in Interface.jsx */
}

/* PROJECTS SECTION */

.projects_div {
  outline: 3px solid purple;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 750px;
  max-width: 60%;
  max-height: 78%;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain; /* do we like this? */
  border-radius: 8px;
}

.projects_div::-webkit-scrollbar-thumb {
  background-color: var(--watermelon-pink);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.projects_div::-webkit-scrollbar {
  width: 16px;
}

.project {
  background: var(--light-pink);
  overflow: hidden;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.project_image {
  filter: grayscale(95%);
  transition: filter 0.2s ease-in-out;
}

.project:hover .project_image {
  filter: grayscale(0%);
}

.project:hover {
  background: white;
  transform: scale(1.05);
  cursor: pointer;
}

.project_image {
  width: 100%;
  object-fit: cover;
}

.project_details {
  padding: 0.5rem;
  text-align: center;
}

.project_details_name {
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* CONTACT SECTION */

.contact {
  margin: 1rem;
  padding: 1rem;
  background: var(--vlight-pink);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  min-width: 280px;
}

.contact_name {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.contact_socials {
  display: flex;
  gap: 1rem; /*gap between icons*/
  margin-top: 1rem;
}

.contact_socials_icon {
  height: 32px;
  width: 32px;
}

/* MENU BAR */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 4rem;
  right: 4rem;
  background: #f5f3ef8a;
  backdrop-filter: blur(8px);
}

.menu_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu_button {
  font-weight: bold;
  color: var(--text-color);
}

.menu_button:hover {
  color: var(--watermelon-pink);
  cursor: pointer;
}

/* LOADING SCREEN */

/* LOADING SCREEN */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #dbb8d9;
  background-image: linear-gradient(0deg, #d3b9cd 0%, #faf5f9 74%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
  pointer-events: none;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-screen__title {
  font-size: 3.8rem;
  font-weight: 700;
  color: var(--dark-watermelon-pink);
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-style: italic;
}

.progress__container {
  width: 100%;
  height: 1rem;
  background-color: rgba(113, 102, 110, 0.42);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: var(--dark-watermelon-pink);
  transition: width 0.5s ease-in-out;
}

/* RESPONSIVE */
/* Media Query For HTML Responsiveness, Targetting 990px threshold */

@media (max-width: 990px) {
  .mobile--section--top {
    align-items: flex-start;
  }

  .mobile--section--bottom {
    align-items: flex-end;
  }

  .mobile--section--right {
    justify-content: flex-end;
  }

  .mobile--section--left {
    justify-content: flex-start;
  }

  .skills_div {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    margin-right: 0%;
  }

  .skill {
    padding: 0.5rem;
    min-width: 220px;
    margin: 0;
  }

  .projects_div {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
  }

  .project {
    min-width: 220px;
  }

  .contact {
    width: 100%;
  }

  .menu {
    flex-direction: column;
    gap: 0.5rem;
  }

  .loading-screen__title {
    font-size: 2rem;
  }
}
